<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout:: head "></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/formSolicitud}" class="btn btn-primary btn-xs">Crear
						Solicitud</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Código</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="solicitud: ${solicitudes}">
							<td> <a class="btn btn-primary btn-xs" th:href = "@{/verSolicitud/} + ${solicitud.idSolicitud}" th:text="${solicitud.idSolicitud}"></a></td>
							<td th:text="${solicitud.codigo}"></td>
							<td th:text="${solicitud.descripcion}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>